@import url(../font.css);

:root{

  /*Gradient color*/
  --sky: linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);
 


  /*theme font-family*/
  --Abel:'Abel',cursive;
  --Anton:'Anton',cursive;
}




html,body{
    margin:0%;
    padding:0%;
    overflow-x: hidden; 
    font-family:sans-serif;
    }


.container{
    overflow:hidden;
    background: url('../imgs/grey.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;


}


.site{
    display:flex;
    display:block;
    text-align: center;
    justify-content: center;
    align-items:center;
    height:70vh;
    padding-top:4.5rem;
    font-size: medium;
}

.image-untar{
    padding-top: 2.5rem;
    width:200px;
    max-width:40%;

}

footer{
    position:relative;
    bottom:0;
    display:flex;
    justify-content: center;
    padding-bottom:3rem;
    font-size: x-small;
}