html,body{
    margin:0%;
    overflow-x: hidden; 
    font-family:sans-serif;    
    }


.container{
    overflow:hidden;
    background: url('../imgs/grey.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;


}


.site{
    display:flex;
    display:block;
    text-align: center;
    justify-content: center;
    align-items:center;
    height:70vh;
    padding-top:4.5rem;
    font-size: medium;
}

footer{
    position:relative;
    bottom:0;
    display:flex;
    justify-content: center;
    padding-bottom:4rem;
    font-size: x-small;
}