.color-redbrown{
    background: linear-gradient(180deg,#6b0101 0%,#9f0101 100%);
}

.bg-image{
    background:url(../imgs/untar-bg-putih.png);
    min-height: 88.5vh;
    width:100%;
    height:auto;
    background-size: contain;
}



.center-image{
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top:8rem;
  width: 50%;
  padding-bottom:2.2rem;
}

.button1 a:hover{
background:linear-gradient(180deg,#6b0101 0%,#9f0101 100%);
}

.container .btnn{
    background-color:brown;
}

