
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"><!--icon -->
    <title>Kode Registrasi</title>

</head>
<body>
        <!------------------------  navbar  ---------------------->
        <div class="header-container">
            <div class="logoutbutton"> 
                <a href="/users/logout"> <i class="fas fa-sign-out-alt"></i></a>
                </div>
            <h1>KRRS ONLINE</h1>
        
        <h1>Fakultas Teknologi Informasi</h1>
        </div>
    <nav class="nav-container">
        
        <div class="menu-item">
            <li class="nav-link">
                <a href="/mainPage">Home</a>
            </li>
        </div>
        <div class="menu-item">
            <li class="nav-link onBiodata">
                <a href="/mainPage/biodata">Profile</a>
            </li>
        </div>
        <div class="menu-item">
            <li class="nav-link onKRRS">
                <a href="/mainPage/krrs">KRRS Online</a>
            </li>
        </div>
            <div class="menu-item">
                <li class="nav-link onCetak">
                    <style>
                        .onCetak{
                            background: linear-gradient(180deg,#6b0101 0%,#b80000 60%);
                            border-radius: .5rem;
                            }
                    </style>
                    <a href="/mainPage/cetak">Cetak KRRS</a>
                </li>
            </div>
            <div class="menu-item">
                <li class="nav-link onPanduan">
                    <a href="/mainPage/panduan">Panduan</a>
                </li>
            </div>

        </nav>
        <!---------------------  navbar  ---------------------->
    <div class ="container">

        <div class="site">
            <div>
                    <h2>Masukan Kode Registrasi Anda: </h2>
                    <form action="/mainPage/cetak/<%= user_id %>" method="POST">
                        <input type="text" name="kode" id="kode" required>
                    </form>
                <img class="image-untar" src="../imgs/untar polos.png"alt="logo untar">

            </div>
               
        </div>
    
        
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer1 ">
                <div class="about-us">
                    <h3><strong>Tentang Kita</strong></h3>
                    <p>Aplikasi ini hanya untuk kegiatan KRRS ONLINE UNTAR. Pergunakan Aplikasi ini untuk mempermudah Anda dalam melakukan pengisian KRRS Semester</p>

                </div>
            </div>
            <div class="footer2 ">
                <div class="follow">
                    <h3>Media Sosial UNTAR</h3>
                </div>
                    <div class="icon">
                        <a  class="nav-link" href="http://line.me/ti/p/~@ahp9294u" target="_blank"><i class="fab fa-line"></i></a>
                        <a  class="nav-link" href="https://www.instagram.com/untarjakarta/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a  class="nav-link" href="https://m.facebook.com/untarjakarta/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a  class="nav-link" href="https://twitter.com/untarjakarta" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        <a  class="nav-link" href="https://www.youtube.com/channel/UCrzEyrRTTquvHwyXzEnVQCQ" target="_blank"><i class="fab fa-youtube-square"></i></a>

                    </div>
                <div class="line"></div>
            </div>
            <div class="footer3 ">
                <div class="location">
                    <h3><u>Alamat:</u></h3>
                    Jl. Letjen S. Parman No. 1 Jakarta Barat 11440, Indonesia
                </div>
                <div class="info">
                    <div class="telp">
                        <h3><u>Nomor Telepon:</u></h3>
                      +62 21 569 58 723 <br>(Hunting)<br>
                      <div class="jarak"></div>
                           +62 811 7579 727 <br>(Whatsapp Admisi)<br>
                    </div>
                    <div class="email">
                        <h3><u>Email:</u></h3>
                        <p>humas@untar.ac.id</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="copyright">
            <p>
                Hak Cipta Universitas Tarumanagara © 2020
            </p>
        </div>
    </footer>
</body>
</html>


