*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:url('../imgs/background-user.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.row{
    background: white;
    border-radius: 3px;
    box-shadow: 12px 12px 22px grey;
}

.first{
    background:linear-gradient(180deg,#6b0101 0%,#9f0101 100%);  
}

.second{
    margin: 0 auto;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.color-redbrown{
    background: linear-gradient(180deg,#6b0101 0%,#9f0101 100%);
}

.iconText{
    display:none;
    padding-left: 15px;
}

@media screen and (max-width: 767px){
	.text-only{
		display:none
    }
    .iconText{
        display:initial;
    }
}